<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_FILE">logs/wow-datahub.log</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <!-- File Appender -->
        <RollingFile name="FileAppender" fileName="${LOG_FILE}" 
                     filePattern="logs/wow-datahub-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- ETL Process Appender -->
        <RollingFile name="ETLAppender" fileName="logs/etl-process.log" 
                     filePattern="logs/etl-process-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Database Appender -->
        <RollingFile name="DatabaseAppender" fileName="logs/database.log" 
                     filePattern="logs/database-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RolllingFile>

        <!-- Error Appender -->
        <RollingFile name="ErrorAppender" fileName="logs/errors.log" 
                     filePattern="logs/errors-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- ETL Package Logging -->
        <Logger name="game.etl" level="INFO" additivity="false">
            <AppenderRef ref="ETLAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Database Package Logging -->
        <Logger name="game.dal" level="WARN" additivity="false">
            <AppenderRef ref="DatabaseAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Web Package Logging -->
        <Logger name="game.servlet" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- MySQL Driver Logging -->
        <Logger name="com.mysql" level="WARN" additivity="false">
            <AppenderRef ref="DatabaseAppender"/>
        </Logger>

        <!-- HTTP Client Logging -->
        <Logger name="org.apache.http" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Jackson JSON Logging -->
        <Logger name="com.fasterxml.jackson" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorAppender"/>
        </Root>
    </Loggers>
</Configuration>